{"openapi":"3.0.1","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"http://doora.horbach5x.de","description":"Generated server url"}],"paths":{"/api/setIconIDForItem/{tagID}":{"put":{"tags":["item-controller"],"summary":"Set iconID by tag ID","operationId":"setIconIDForItem","parameters":[{"name":"tagID","in":"path","required":true,"schema":{"type":"string"}},{"name":"iconID","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"404":{"description":"Item not found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"IconID successfully set","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/renameItem/{tagID}":{"put":{"tags":["item-controller"],"summary":"Rename an item by tag ID","operationId":"renameItem","parameters":[{"name":"tagID","in":"path","required":true,"schema":{"type":"string"}},{"name":"newName","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"Item not found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"Item renamed successfully","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/editItemDescription/{tagID}":{"put":{"tags":["item-controller"],"summary":"Edit an item descriptio  by tag ID","operationId":"editItemDescription","parameters":[{"name":"tagID","in":"path","required":true,"schema":{"type":"string"}},{"name":"newDescription","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"Item not found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"Item description edited successfully","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/removeItemSetFromUser":{"post":{"tags":["user-controller"],"summary":"ItemSet von Benutzer entfernen","operationId":"removeItemSetFromUser","parameters":[{"name":"itemSetID","in":"query","description":"Die ID des ItemSets","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"userID","in":"query","description":"Die ID des Benutzers","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"ItemSet erfolgreich von Benutzer entfernt"},"404":{"description":"ItemSet oder Benutzer nicht gefunden"}}}},"/api/removeItemFromItemSet":{"post":{"tags":["item-set-controller"],"summary":"Item aus ItemSet entfernen","operationId":"removeItemFromItemSet","parameters":[{"name":"itemSetID","in":"query","description":"Die ID des ItemSets","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"tagID","in":"query","description":"Die ID des Items","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Item erfolgreich aus ItemSet entfernt"},"404":{"description":"ItemSet oder Item nicht gefunden"}}}},"/api/detectedNewTag":{"post":{"tags":["unknown-tag-controller"],"summary":"Neuen Tag speichern","operationId":"detectedNewTag","parameters":[{"name":"tagID","in":"query","description":"Die ID des Tags","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Ungueltige Anforderung","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UnknownTag"}}}},"201":{"description":"Neuen Tag erfolgreich gespeichert","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnknownTag"}}}}}}},"/api/createUser":{"post":{"tags":["user-controller"],"summary":"Neuen Benutzer erstellen","operationId":"createUser","parameters":[{"name":"userName","in":"query","description":"Der Benutzername","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Ungueltige Anforderung","content":{"*/*":{"schema":{"$ref":"#/components/schemas/User"}}}},"201":{"description":"Benutzer erfolgreich erstellt","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}}}}}},"/api/createItem":{"post":{"tags":["item-controller"],"summary":"Neues Item erstellen","operationId":"createItem","parameters":[{"name":"itemName","in":"query","description":"Der Name des Items","required":true,"schema":{"type":"string"}},{"name":"itemDescription","in":"query","description":"Die Beschreibung des Items","required":true,"schema":{"type":"string"}},{"name":"tagID","in":"query","description":"Die ID des Tags","required":true,"schema":{"type":"string"}},{"name":"iconID","in":"query","description":"Die ID des Icons","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Ungueltige Anforderung","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Item"}}}},"201":{"description":"Item erfolgreich erstellt","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Item"}}}}}}},"/api/createItemSet":{"post":{"tags":["item-set-controller"],"summary":"Neues ItemSet erstellen","operationId":"createItemSet","parameters":[{"name":"itemSetName","in":"query","description":"Der Name des ItemSets","required":true,"schema":{"type":"string"}},{"name":"itemSetDescription","in":"query","description":"Die Beschreibung des ItemSets","required":true,"schema":{"type":"string"}},{"name":"alwaysRequired","in":"query","description":"Kennzeichen ob ItemSet immer benoetigt wird ","required":true,"schema":{"type":"boolean"}}],"responses":{"400":{"description":"Ungueltige Anforderung","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ItemSet"}}}},"201":{"description":"ItemSet erfolgreich erstellt","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemSet"}}}}}}},"/api/assignItemToItemSet":{"post":{"tags":["item-set-controller"],"summary":"Item zu ItemSet zuweisen","operationId":"assignItemToItemSet","parameters":[{"name":"itemSetID","in":"query","description":"Die ID des ItemSets","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"tagID","in":"query","description":"Die ID des Items","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Item erfolgreich zu ItemSet zugewiesen"},"404":{"description":"ItemSet oder Item nicht gefunden"}}}},"/api/assignItemSetToUser":{"post":{"tags":["user-controller"],"summary":"ItemSet einem Benutzer zuweisen","operationId":"assignItemSetToUser","parameters":[{"name":"userID","in":"query","description":"Die ID des Benutzers","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"itemSetID","in":"query","description":"Die ID des ItemSets","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Benutzer oder ItemSet nicht gefunden"},"200":{"description":"ItemSet erfolgreich einem Benutzer zugewiesen"}}}},"/api/isItemMissing":{"get":{"tags":["item-controller"],"summary":"Ueberpruefen, ob ein Item fehlt","operationId":"isItemMissing","parameters":[{"name":"tagIDs","in":"query","description":"Ein Array mit den IDs der Items","required":true,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"400":{"description":"Ungueltige Anforderung","content":{"*/*":{"schema":{"type":"boolean"}}}},"200":{"description":"Erfolgreich ueberprueft","content":{"*/*":{"schema":{"type":"boolean"}}}}}}},"/api/getNewTagID":{"get":{"tags":["unknown-tag-controller"],"summary":"Neue Tag ID abrufen","operationId":"getNewTagID","responses":{"404":{"description":"Ungueltige Anforderung oder aktuell kein neuer Tag vorhanden","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"Erfolgreich alle Items abgerufen","content":{"application/json":{"schema":{"type":"string"}}}}}}},"/api/getAssignedItemsForItemSet/{itemSetID}":{"get":{"tags":["item-set-controller"],"summary":"Gibt alle dem bestimmten ItemSet zugewiesenen Items zurueck","operationId":"getAssignedItemsForItemSet","parameters":[{"name":"itemSetID","in":"path","description":"Die ID des ItemSets","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Erfolgreiche Abfrage der zugewiesenen Items","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Item"}}}},"404":{"description":"ItemSet nicht gefunden","content":{"*/*":{"schema":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/Item"}}}}}}}},"/api/getAssignedItemSetsForUser/{userID}":{"get":{"tags":["user-controller"],"summary":"Gibt alle dem bestimmten Nutzer zugewiesenen ItemSets zurueck","operationId":"getAssignedItemSetsForUser","parameters":[{"name":"userID","in":"path","description":"Die ID des Nutzers","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Erfolgreiche Abfrage der zugewiesenen ItemSets","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemSet"}}}},"404":{"description":"Nutzer nicht gefunden","content":{"*/*":{"schema":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/ItemSet"}}}}}}}},"/api/getAllUsers":{"get":{"tags":["user-controller"],"summary":"Alle Benutzer abrufen","operationId":"getAllUsers","responses":{"200":{"description":"Erfolgreich alle Benutzer abgerufen","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}}}}}},"/api/getAllItems":{"get":{"tags":["item-controller"],"summary":"Alle Items abrufen","operationId":"getAllItemSets","responses":{"200":{"description":"Erfolgreich alle Items abgerufen","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Item"}}}}}}},"/api/getAllItemSets":{"get":{"tags":["item-set-controller"],"summary":"Alle ItemSets abrufen","operationId":"getAllItemSets_1","responses":{"200":{"description":"Erfolgreich alle ItemSets abgerufen","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemSet"}}}}}}},"/api/deleteItem":{"delete":{"tags":["item-controller"],"summary":"Item loeschen","operationId":"deleteItem","parameters":[{"name":"tagID","in":"query","description":"Die ID des Items","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Item nicht gefunden oder Item ist noch einem Benutzer zugewiesen"},"404":{"description":"Ungueltige Anforderung"},"200":{"description":"Item erfolgreich geloescht"}}}},"/api/deleteItemSet":{"delete":{"tags":["item-set-controller"],"summary":"ItemSet loeschen","operationId":"deleteItem_1","parameters":[{"name":"itemSetID","in":"query","description":"Die ID des ItemSets","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"ItemSet nicht gefunden"},"200":{"description":"ItemSet erfolgreich geloescht"},"404":{"description":"Ungueltige Anforderung"}}}}},"components":{"schemas":{"UnknownTag":{"type":"object","properties":{"unkownTagID":{"type":"string"},"detectionTimestamp":{"type":"string","format":"date-time"}}},"User":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"userName":{"type":"string"}}},"Item":{"type":"object","properties":{"tagID":{"type":"string"},"iconID":{"type":"integer","format":"int32"},"itemName":{"type":"string"},"itemDescription":{"type":"string"},"creationTimestamp":{"type":"string","description":"Timestamp when the item was created (without seconds and milliseconds)","format":"date-time"},"lastAccessedTimestamp":{"type":"string","description":"Timestamp when the item was last accessed (without seconds and milliseconds)","format":"date-time"}}},"ItemSet":{"type":"object","properties":{"itemSetID":{"type":"integer","format":"int64"},"alwaysRequired":{"type":"boolean"},"itemSetName":{"type":"string"},"itemSetDescription":{"type":"string"},"assignedItems":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/Item"}}}}}}}